
.todo-item>input{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
  vertical-align: -3px;
  margin-bottom: 5px;
}
.todo-item>span{
  color: #3a75c4;
  display: inline-block;
  padding-left: 10px;
}

.todo-item:after{
  display: block;
  content: '';
  clear: both;
}
.todo-item>button{
  float: right;
  border-radius: 3px;
  background: #EE7621;
  color: #fff;
  padding: 3px;
  font-weight: 200;
  font-size: 12px;
}
